################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EATestProject/v16/TestStore/0
/EATestProject/obj/Debug/netcoreapp3.1
